<div class='container'>
  <div class='row'>pacvac logo placeholder</div>
  <div class='row'>
    <div class='col-xs-4 col-xs-offset-4'>
      <%= react_component('Zipcode', {value: 'Check ZipCode'}, {prerender: true}) %>
    </div>
  </div>
</div>
