// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
  margin-top:35%;
  margin-bottom:90px;
}

.inputBox {
  border: none;
  border-bottom: 1px solid #1a1a1a;
  width:100%;
  outline:none;
  margin-bottom:10px;
}

.quoteForm {
  font-size:16px;
}

.zipcode {
  font-size:24px;
}

.submitBtn {
  width:50%;
  height:50px;
  background-color:#3e6d91;
  color:white;
  font-weight:400;
  font-size:14px;
  font-family:sans-serif;
  border-radius:2px;
  border:none;
}

.btn-primary {
    border-color: #ee7637;
    color: #fff;
    background-color: #ee7637;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;
    background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btns {
    border: 0;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 300;
    font-size:20px;
}

.btn-xl {
  margin-top:75px;
  padding: 15px 30px;
}

.validator-message {
  color:red;
  font-size:14px;
  margin-top:20px;
}

// Calendar css
.date-body{
  background-color: #3e6d91;padding-bottom: 5px;
  width:150px;
}
.date-body .date-title{
  color: white;
}

.date-body .date-content{
  background-color: white;margin-left: 5px;margin-right: 5px;
}
.date-body .date-content p.dia{
  margin: 0; font-size: 14px; font-weight: bold;
}
.nomargin{
  margin: 0;
}

p.quote {
  font-size: 25px;
}
